<div class="nav-digit-active nav-digit"><a>1</a></div>

<div class="nav-digit">1</div>


<div class="nav-pagebar">
  <div class="nav-digit">
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Icons">
        <path id="Arrow 1 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M10.5008 16.7319L7.50078 14.9999L10.5008 13.2678V14.6999L27.5008 14.6999C27.6665 14.6999 27.8008 14.8342 27.8008 14.9999C27.8008 15.1656 27.6665 15.2999 27.5008 15.2999L10.5008 15.2999V16.7319Z" fill="#171725" />
      </g>
    </svg>
  </div>
  <div class="nav-digit-active nav-digit"><div class="text-container common-text ag-14">1</div></div>
  <div class="nav-digit"><div class="text-container common-text ag-14">2</div></div>
  <div class="nav-digit"><div class="text-container common-text ag-14">3</div></div>
  <div class="nav-digit"><div class="text-container common-text ag-14">4</div></div>
  <div class="nav-digit"><div class="text-container common-text ag-14">5</div></div>
  <div class="nav-digit"><div class="text-container common-text ag-14">...</div></div>
  <div class="nav-digit"><div class="text-container common-text ag-14">10</div></div>
  <div class="nav-digit">
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Icons">
        <path id="Arrow 1 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M19.4992 13.2681L22.4992 15.0001L19.4992 16.7322V15.3001L2.49922 15.3001C2.33353 15.3001 2.19922 15.1658 2.19922 15.0001C2.19922 14.8344 2.33353 14.7001 2.49922 14.7001L19.4992 14.7001V13.2681Z" fill="#171725" />
      </g>
    </svg>
  </div>
</div>
<!--<div class="nav-pagebar">
  <a class="nav-digit">
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Icons">
        <path id="Arrow 1 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M10.5008 16.7319L7.50078 14.9999L10.5008 13.2678V14.6999L27.5008 14.6999C27.6665 14.6999 27.8008 14.8342 27.8008 14.9999C27.8008 15.1656 27.6665 15.2999 27.5008 15.2999L10.5008 15.2999V16.7319Z" fill="#171725" />
      </g>
    </svg>
  </a>
  <a class="nav-digit-active nav-digit">1</a>
  <a class="nav-digit">2</a>
  <a class="nav-digit">3</a>
  <a class="nav-digit">4</a>
  <a class="nav-digit">5</a>
  <a class="nav-digit">...</a>
  <a class="nav-digit">
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Icons">
        <path id="Arrow 1 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M19.4992 13.2681L22.4992 15.0001L19.4992 16.7322V15.3001L2.49922 15.3001C2.33353 15.3001 2.19922 15.1658 2.19922 15.0001C2.19922 14.8344 2.33353 14.7001 2.49922 14.7001L19.4992 14.7001V13.2681Z" fill="#171725" />
      </g>
    </svg>

  </a>
</div>-->


<div class="scroll-container">
  <div class="scroll-list">
    <div class="scroll-item scroll-item-active">
      <div class="common-text ag-16">Option option</div>
      <div class="scroll-select-container">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Icons">
            <path id="selectopt" d="M15.7657 0.319082C15.4533 -0.106361 14.9468 -0.106361 14.6343 0.319082L5.04982 13.3703L1.3657 8.35369C1.0533 7.92824 0.546796 7.92829 0.234328 8.35369C-0.0781093 8.77909 -0.0781093 9.46878 0.234328 9.89422L4.48414 15.6811C4.79645 16.1065 5.30332 16.1062 5.61551 15.6811L15.7657 1.85966C16.0781 1.43426 16.0781 0.744525 15.7657 0.319082Z" />
          </g>
        </svg>
      </div>
    </div>
    <div class="scroll-item"><div class="common-text ag-16">Option option</div></div>
    <div class="scroll-item"><div class="common-text ag-16">Option option</div></div>
    <div class="scroll-item"><div class="common-text ag-16">Option option</div></div>
    <div class="scroll-item"><div class="common-text ag-16">Option option</div></div>
    <div class="scroll-item"><div class="common-text ag-16">Option option</div></div>
  </div>
  <div class="scroll">
    <svg width="5" height="220" viewBox="0 0 5 220" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Group 82">
        <rect id="scrolldone" x="2" y="220" width="219.658" height="1" rx="0.5" transform="rotate(-90 2 220)"/>
        <rect id="scrollguy" y="103.117" width="103.117" height="5" rx="2.5" transform="rotate(-90 0 103.117)" />
      </g>
    </svg>
  </div>
</div>
